<!DOCTYPE html>
<html lang="en">
<head>
  <title>Jay's Pizza delivery -- Admin Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Order list</h2>        
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Room number</th>
        <th>Size</th>
        <th>Flavor</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Amedewu Tsali</td>
        <td>I20</td>
        <td>XL</td>
        <td>Meaty max</td>
      </tr>
      <tr>
        <td>Zewuze Akakpo</td>
        <td>I22</td>
        <td>Jumbo</td>
        <td>Meaty max</td>
      </tr>
      <tr>
        <td>Esi Dovonon</td>
        <td>K20</td>
        <td>M</td>
        <td>Oreo</td>
      </tr>
      
    </tbody>
  </table>
</div>

</body>
</html>
